SAUCE_DEMO_URL=https://www.saucedemo.com
SAUCE_STANDARD_USER=standard_user
SAUCE_STANDARD_PASSWORD=secret_sauce
SAUCE_LOCKED_OUT_USER=locked_out_user
SAUCE_LOCKED_OUT_PASSWORD=secret_sauce

OPENMRS_URL=https://demo.openmrs.org/openmrs/login.htm
OPENMRS_USERNAME=admin
OPENMRS_PASSWORD=Admin123
OPENMRS_LOCATION=Inpatient Ward
OPENMRS_PATIENT_SEARCH_TERM=John

REQRES_API_URL=https://reqres.in/api
REQRES_API_KEY=

TESTRAIL_ENABLED=false
TESTRAIL_HOST=https://your-company.testrail.io
TESTRAIL_USERNAME=your.email@example.com
TESTRAIL_API_KEY=your_api_key
TESTRAIL_PROJECT_ID=123
TESTRAIL_SUITE_ID=456
TESTRAIL_RUN_NAME=QA Automation Learning
TESTRAIL_RUN_ID=
TESTRAIL_STATUS_SKIPPED=6